.ContactLinksDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: #799174; */
    /* background-color: #283618; */
    background-color: #043322;
}

.ContactContent {
    display: block;
    position: relative;
    top: 15%;
}
