.FooterDiv {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: #043322;
    color: white;
    display: inline-block;
    /* background-color: #bf7f5b; */
    /* opacity: 0.6; */
    z-index: 1;
}

.FooterNav {
    padding-right: 7px;
}

.FooterA {
    padding: 0px 5px 0px 5px;
    margin: 5px 0px 5px 5px;
    font-size: 150%;
    float: right;
    color: white;
    z-index: 0;
    opacity: 0.6;
}

.FooterA {
    display: block;
    color: white;
    text-align: center;
    /* padding: 7px 7px; */
    text-decoration: none;
}

.FooterA:hover {
    background-color: #075C3D;
    color: white;
    opacity: 1;
    border-radius: 5%;
}

.FooterA:visited {
    color: lightgray;
}