.LandingDiv {
    /* background-color: #799174; */
    /* background-color: #283618; */
    /* background-color: #043322; */
    position: absolute;
    height: 100%;
    width: 100%;
}

.LandingTypist {
    font-size: 400%;
    margin: 5% 17% 14% 17%;
}

.myName {
    font-family: modernline;
    /* color: rgb(213, 137, 54); */
    filter: brightness(75%);
    margin: auto;
    padding-top: 60px;
    font-size: 70px;

    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.myNameHeader {
    display: grid;
}