.SkillsDiv {
    margin: 10% 13%;
    color: #460012;
    opacity: .9;
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    position: relative;
    align-items: center;
}

.icon {
    font-size: 600%;
    padding: 6% 11%;
    border-radius: 5% 25%;
}

.iconDiv {
    text-align: center;
}

p {
    position: relative;
    text-align: center;
    color: #ECF1F5;
}

.iconDiv:hover p {
    color: #460012;
    text-align: right;
    padding-right: 34%;
}

.iconDiv:hover .icon {
    opacity: 0.4;
    padding: auto;
    margin: auto;
    color: #ECF1F5;
    background-color: #460012;
}
